/* 
    Created on : 19 janv. 2016, 10:23:16
    Author     : Dany De Bontridder <dany@alchimerys.be>
*/

body {
    font-size:120%;
    color:#153463;
    background-color: #EFEFEF;
     font-weight: bolder;
}
img#bg {
    width: 100%;
    height: 100%;
    position:fixed;
    left:0px;
    top:0px;
    z-index:-1;
    opacity: 60%;
    filter: blur(8px);
   -webkit-filter: blur(8px);
}
input[type="text"],input[type="email"],select,input[type="password"]{
    color:#153463;
    font-size:120%;
    border:1px solid #153463;
    font-weight: bolder;
    padding : 10px;
}

input[type="submit"] {
    padding : 20px;
    border : steelblue none 1px;
    
    radius : 5px;
    border-radius : 5px;
    color:#153463;
    font-size:120%;
    border-radius: 5px;
    font-weight: bolder;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
    
    background-image:url('bg-submit2.gif')  ;
    background-repeat: repeat-x  ;
    background-position: top;
    background-size:20px 70px;
    color:wheat;
   }

input[type="submit"]:hover {
    color:white;
    cursor:pointer ;
    background-size:20px 100px;
}
